<div class="col-12 d-flex flex-wrap justify-content-center">
    <h4>
        <strong>
            Jueves 18 Marzo de 2020
        </strong>
    </h4>
</div>

<MatTabGroup Class="col-lg-12 p-0">
    <MatTab Label="Retiros">
        <DebitsWorkDayComponent />
    </MatTab>
    <MatTab Label="Ingresos">
        <EntriesWorkDayComponent />
    </MatTab>
    <MatTab Label="Credito">
        <CreditsWorkDayComponent/>
    </MatTab>
    <MatTab Label="Cierre">
        Third Content
    </MatTab>

</MatTabGroup>
