<div class="col-12 d-flex flex-wrap justify-content-center p-4">
    <h4 class="col-12 text-center font-weight-bold text-black-50">Trabajadores</h4>
        <MatButtonLink href="/Worker/Create" Outlined="true" TrailingIcon="add">Agregar</MatButtonLink>
</div>
<div class="col-md-8 d-flex flex-wrap p-2 mat-elevation-z6 ">
    <div class="col-12 p-2 m-0 d-flex flex-wrap  border-bottom border-secondary">
        <span class="col-3 justify-content-center align-items-center p-2 text-center smallDeviceHideColumnTable"><strong>Nombre</strong></span>
        <span class="col-3 justify-content-center align-items-center p-2 text-center smallDeviceHideColumnTable"><strong>Telefono</strong></span>
        <span class="col-2 justify-content-center align-items-center p-2 text-center smallDeviceHideColumnTable"><strong>Salario</strong></span>
        <span class="col-2 justify-content-center align-items-center p-2 text-center smallDeviceHideColumnTable"><strong>Inicio laboral</strong></span>
        <span class="col-2"></span>
    </div>
    @foreach (var worker in Workers)
    {
        <div class="col-12 p-2 m-0 d-flex flex-wrap  border-bottom border-secondary">
            <span class="col-md-3 justify-content-center d-flex text-center p-2">@worker.Name</span>
            <span class="col-md-3 justify-content-center d-flex text-center p-2">@worker.Phone</span>
            <span class="col-md-2 justify-content-center d-flex text-center p-2">@worker.Salary</span>
            <span class="col-md-2 justify-content-center d-flex text-center p-2">@worker.StartOfWork.ToShortDateString()</span>
            <div class="col-md-2 d-flex flex-wrap justify-content-center">
                <MatButtonLink Class="col-12" Style="" Raised="true" Href="/Worker/Update">Editar</MatButtonLink>
                <MatButton Class="col-12" Style="" Dense="true" OnClick="Delete">Elimminar</MatButton>
            </div>
        </div>

    }
</div>





@code {
    [Parameter] public List<WorkerVM> Workers { get; set; }
        [Parameter] public EventCallback Delete { get; set; }

}
