@inject IRepository _repository


@if (loader)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>

}
else
{
    <div class="col-12 p-0 m-0 d-flex flex-wrap">

        <CalendarFilterComponent Today="Today" month="month" ChangeMonth="ChangeMonth" ChangeYear="ChangeYear" Months="months" year="year" Years="years"/>
        <DaysLegendComponent  />
        <CalendarDaysComponent Days="days" />



    </div>
}
@code {
    private bool loader = true;
    private MonthDTO month;
    private int year;
    private List<int> years = new List<int>();
    private List<MonthDTO> months = new List<MonthDTO>();
    private List<DayVM> days = new List<DayVM>();

    protected override void OnInitialized()
    {
        year = DateTime.Now.Year;
        years = _repository.FillYears();
        months = _repository.FillMonths(year);
        month = months.Find(x => x.Id == DateTime.Now.Month);
        FillDays();
        loader = false;
    }



    private void Today()
    {
        month = null;
        year = 0;
    }

    private void ChangeMonth(MonthDTO newMonth)
    {
        loader = true;
        month = newMonth;
        FillDays();
        loader = false;
    }

    private void ChangeYear(int newYear)
    {
        loader = true;
        year = newYear;
        FillDays();
        loader = false;
    }

    private void FillDays()
    {
        days = new List<DayVM>();

        for (int i = 1; i <= month.MonthLength; i++)
        {
            var date = new DateTime(year, month.Id, i);
            var day = GetDay((int)date.DayOfWeek);
            day.Date = date;

            days.Add(day);
        }
    }

    private DayVM GetDay(int dayId)
    {
        dayId = dayId == 0 ? 7 : dayId;
        DayVM day = new DayVM();
        day = _repository.GetDays().Find(x => x.DayId == dayId);

        return day;
    }


}
