@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transform: rotate(0);

}

.matAppBar--content {
    transition: all ease 1s;
    width: 15vw !important;
    height: 100vh !important;
    flex-wrap: wrap;
    color: white;
    position: absolute;
}

.matAppBar--content__open {
    margin-left: 0vw;
}

.matAppBar--content__close {
    margin-left: -15vw;
}

.smallDeviceHideColumnTable {
    display: flex;
}

.mat-numeric-up-down-field .mat-text-field-actions-container {
    display: none !important;
}

.mdc-tab-bar {
    box-shadow: 0px 15px 15px -15px rgba(0,0,0,.7);
}

.calendarDay {
    width: 14%;
    min-height: 80px;
    transition: all ease 500ms;
}

    .calendarDay:hover {
        transform: perspective(10px) translateZ(1px);
        background: white !important;
        z-index: 10;
    }

        .calendarDay:hover .calendarDay--content {
            opacity: 1;
        }

.calendarDay--date {
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    background: rgba(0,105,92,.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendarDay--content {
    font-size: 15px;
    opacity: 0;
    transition: all ease 500ms;
}

    .calendarDay--content .material-icons {
        font-size: 15px !important;
    }

/*Media query*/
@media (max-width: 500px) {
    .body {
        min-height: 100vh;
        width: 100vh;
        transform: rotate( 90deg );
    }

    .smallDeviceHideColumnTable {
        display: none;
    }
}


