@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.matAppBar--content {
    transition: all ease 1s;
    width: 15vw !important;
    height: 100vh !important;
    flex-wrap: wrap;
    color: white;
    position: absolute;
}

.matAppBar--content__open {
    margin-left: 0vw;
}

.matAppBar--content__close {
    margin-left: -15vw;
}

.smallDeviceHideColumnTable{
    display: flex;
}

/*Media query*/

@media (max-width: 500px){
    .smallDeviceHideColumnTable {
        display: none;
    }
}