<h4 class="col-12 text-center p-4 font-weight-bold">Proveedores</h4>

<div class="col-md-8 d-flex flex-wrap p-2 mat-elevation-z6 text-black-50">
    <div class="col-12 p-2 m-0 d-flex flex-wrap  border-bottom border-secondary">
        <span class="col-4 justify-content-center align-items-center p-2 text-center smallDeviceHideColumnTable"><strong>Nombre</strong></span>
        <span class="col-4 justify-content-center align-items-center p-2 text-center smallDeviceHideColumnTable"><strong>Telefono</strong></span>
    </div>
    @foreach (var customer in providers)
    {
        <div class="col-12 p-2 m-0 d-flex flex-wrap  border-bottom border-secondary">
            <span class="col-md-4 justify-content-center d-flex align-items-center p-2">@customer.Name</span>
            <span class="col-md-4 justify-content-center d-flex align-items-center p-2">@customer.Phone</span>
            <div class="col-md-4 d-flex flex-wrap justify-content-center">
                <MatButton Class="col-12" Style="" Raised="true">Editar</MatButton>
                <MatButton Class="col-12" Style="" Dense="true">Elimminar</MatButton>
            </div>
        </div>

    }
</div>





@code {
    private List<ProviderVM> providers = new List<ProviderVM>();

    protected override void OnInitialized()
    {
        GetCustomers();
    }

    private void GetCustomers()
    {
        providers.Add(new ProviderVM() { Name = "Cae", Phone = 85002818 });
        providers.Add(new ProviderVM() { Name = "La Raza", Phone = 85002818 });
        providers.Add(new ProviderVM() { Name = "Sigma", Phone = 85002818 });
        providers.Add(new ProviderVM() { Name = "Coca-Cola", Phone = 85002818 });

    }
}
