<h4 class="col-12 text-center text-black-50 pt-4">Proveedor</h4>

<EditForm Model="Provider" Class="">
    <p class=" my-4">
        <MatTextField @bind-Value="Provider.Name" Label="Nombre" FullWidth="true"></MatTextField>
    </p>
    <p class=" my-4">
        <MatNumericUpDownField Label="Telefono" 
                               FullWidth="true"
                               @bind-Value=@Provider.Phone
                               DecimalPlaces=0>
        </MatNumericUpDownField>
    </p>

    <div class="col-12 d-flex flex-wrap justify-content-center">
        <MatButton Class="col-md-6" Style="" Raised="true" OnClick="Save">Guardar</MatButton>
        <MatButtonLink Href="/Provider/Index" Class="col-md-6" Style="" Dense="true">Volver</MatButtonLink>
    </div>
</EditForm>

@code {
    [Parameter] public ProviderVM Provider { get; set; }
        [Parameter] public EventCallback Save { get; set; }

}