<div class="col-12 d-flex flex-wrap justify-content-center p-4">
    <h4 class="col-12 text-center font-weight-bold text-black-50">Metodos de pago</h4>
    <a href="/PayMethod/Create">
        <MatButton Outlined="true" TrailingIcon="add">Agregar</MatButton>
    </a>
</div>
<div class="col-md-6 p-2 mat-elevation-z6 ">
    @foreach (var payMethod in PayMethods)
    {
        <div class="col-12 p-2 m-0 d-flex flex-wrap border-bottom border-secondary">
            <span class="col-md-8 justify-content-center d-flex align-items-center py-3">
                <strong>
                    @payMethod.Description
                </strong>
            </span>
            <div class="col-md-4 d-flex flex-wrap justify-content-center">
                <MatButtonLink Class="col-12" Style="" Raised="true" Href="/PayMethod/Update">Editar</MatButtonLink>
                <MatButton Class="col-12" Style="" Dense="true">Elimminar</MatButton>
            </div>
        </div>

    }
</div>





@code {
    [Parameter] public List<PayMethodVM> PayMethods { get; set; }
}
