<h4 class="col-12 text-center text-black-50 pt-4">Tipo de retiro</h4>

<EditForm Model="DebitType" Class="">
    <p class="form-group col-12 d-flex flex-wrap p-4">
        <MatTextField @bind-Value="DebitType.Description" Label="Descripcion"></MatTextField>
    </p>
    <div class="col-12 d-flex flex-wrap justify-content-center">
        <MatButton Class="col-md-6" Style="" Raised="true">Guardar</MatButton>
        <MatButtonLink Href="/DebitType/Index" Class="col-md-6" Style="" Dense="true">Volver</MatButtonLink>
    </div>
</EditForm>

@code {
    [Parameter] public DebitTypeVM DebitType { get; set; }
}
