
@if (Disabled)
{
    for (int i = 1; i <= TotalDays; i++)
    {
        <div class="border border-light d-flex align-items-center justify-content-center calendarDay" style="background: rgba(0,0,0,.1);"></div>
    }
}
else
{
    for (int i = 1; i <= TotalDays; i++)
    {
        style = CurrentDay == i ? CurrentDayStyle : "";

        if (i < CurrentDay)
        {
            style += i % 3 == 0 ? "background: rgba(176,0,32,.6);" : "background: rgba(32,201,151,.7);";

        }

        <div class="border position-relative border-light d-flex align-items-center justify-content-center calendarDay" style="@style">
            <span class="calendarDay--date">
                <small>
                    @i
                </small>
            </span>
            <div class="col-12 p-1 d-flex flex-wrap justify-content-start">
                <CalendarDayContentComponent />
            </div>
        </div>
    }
}


@code {
    [Parameter] public int TotalDays { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public int CurrentDay { get; set; }
    [Parameter] public string CurrentDayStyle { get; set; }
    private string style = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
